body {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td {
    border: solid 1px;
}

input {
    border: none;
    width: 3em;
    height: 3em;
    text-align: center;
    font-size: larger;
}

.ordem {
    border: solid 1px;
    border-color: grey;
}

.textoinicio {
    text-align: center;
    color: black;
    font-size: 1.1em;
    font-family: 'Comic Sans';
}

.somaerradacoluna input,
.somaerradalinha input,
.somaerradadiagonalsecundaria input, 
.somaerradadiagonalprincipal input {
    color: orange;
}

.somaerradacoluna,
.somaerradalinha,
.somaerradadiagonalsecundaria, 
.somaerradadiagonalprincipal {
    color: orange;
    border: solid 3px;
}

.foradoslimites input, 
.numerosrepetidos input {
    color: red;
}

.foradoslimites,
.numerosrepetidos {
    color: red;
    border: solid 3px;
}

.vitoria tr td {
    color: green;
    border: solid 3px;
}

.vitoria tr td input {
    color: green;
}
